@charset "UTF-8";
/* *********************************************
Project =====
FileName ====
Author ====== name
Date ======== 2018-11-13
Last ========
********************************************* */


/* --------------------------------------------
 * 지도
/* ------------------------------------------ */
body.page-map {
    min-width:1200px;
    overflow-y: hidden;
}
.page-map .page-content-wrapper .page-content {
    position: relative;
    margin-right:0px;
    margin-left:0px;
    min-height: auto !important;
}

.page-map .page-content .contentWrapper {
    position:relative;
    width: auto;
    padding: 0px;
    margin-left: 300px;
    border-left: 1px solid #b8bfc6;
    height: calc(100vh - 120px);
}
.page-map.page-sidebar-closed .page-content .contentWrapper {
    margin-left: 0px;
}
.page-map .page-content .contentWrapper .map-control {
    position:absolute;
    top:20px;
    left:20px;
    z-index:2;
}
.page-map .page-content .contentWrapper .map-wrapper-content {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
}
.page-map .page-content .contentWrapper .contentWrapper-content {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
}
.page-map .page-content-wrapper .page-content .reading-wrapper {
    width:100%;
    height:100%;
    margin-bottom:-6px;
}

.page-map .page-header.navbar {
    background-color:#00a2ff;
    background-image: linear-gradient(141deg, #00a2ff 0%, #1fc8db 51%, #00c48a 75%);
    height:70px;
    min-height:70px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.page-map .page-header.navbar .page-logo { height:70px; line-height:70px; }
.page-map .page-header.navbar .page-logo .logo-default img {margin-top: -18px;}
.page-map .page-header.navbar .hor-menu {margin-left: 10px;}
.page-map .page-header.navbar .page-logo { margin:0px 20px 0 20px; width:auto !important; }
.page-map .page-header.navbar .top-menu {
    height:70px;
    line-height:70px;
}
.page-map .page-header.navbar .top-menu .navbar-nav {
    margin:16px 15px 0px 0px;
}
.page-map .page-logo-text { font-size:20px; display: inline-block; padding-top: 2px; padding-left: 10px;}

.page-map .page-footer {height: 50px; padding: 5px 15px;}
.page-map .page-footer .page-footer-inner .page-footer-logo {margin-top:0px; margin-left:20px;}

.page-map .page-sidebar-wrapper {border-right: 1px solid #b8bfc6;}
.page-map .page-title {
	font-size: 20px;
	padding: 0px 0px 0px 20px;
	margin-bottom: 20px;
	background: url(../../com/img/bu_title_1depth_front.png) no-repeat 0px 50%;
}

body.page-map.page-sidebar-closed {
    background:#ffffff;
}
.page-map .page-sidebar-wrapper {
    z-index: 2;

}
.page-map .page-sidebar.navbar-collapse.collapse {
    overflow: hidden !important;
    width: 300px;
}
.page-sidebar .page-sidebar-menu {

}
.page-map.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left:0px !important;
}
.page-map.page-sidebar-closed .page-sidebar {
    width:0px !important;
}
.page-map.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    width:0px !important;
    margin-top:0px !important;
}
.page-map .page-sidebar .page-sidebar-menu .heading {
    display:inline-block;
    padding:15px 15px 0px 15px;
}
.page-map .page-sidebar .left-item {
    display:block;
    padding:15px;
    width:100%;
    overflow:hidden;
    overflow-y:auto;
    height: calc(100vh - 176px);
}
.page-map .page-sidebar .tab-content .map-tab-a .left-item {
    height: calc(100vh - 237px);
}
.page-map .page-sidebar .tab-content .map-tab-b .left-item {
    height: calc(100vh - 181px);
}
.page-map .page-sidebar .page-sidebar-menu .portlet-body-hr {
    margin-bottom: 0px;
    margin-top: 10px;
}
.page-map hr.portlet-body-title-hr {
    border-top:1px dashed #dee0e2;
    margin: 15px 0px;
}
.page-map .page-sidebar .page-sidebar-menu-closed .left-item {
    display:none !important;
}


.page-map .page-footer {font-size:11px;}
.page-map .page-footer .page-footer-inner {padding-top:0px;}
.page-map .page-footer .page-footer-inner .page-footer-container {margin-top: 2px; margin-left:64px;}
.page-map .page-footer .page-footer-inner .page-footer-container .copyright {display: block;}

.page-map .page-footer .page-footer-inner .page-footer-container .address { display:inline-block; font-weight:bold; }
.page-map .page-footer .page-footer-inner .page-footer-container .tel { display:inline-block; font-weight:bold; margin-left: 20px;}
.page-map .page-footer .page-footer-inner .page-footer-container .fax { display:inline-block; font-weight:bold; margin-left: 20px;}
.page-map .page-footer .page-footer-inner .page-footer-container .mail { display:inline-block; font-weight:bold; margin-left: 20px;}

.page-map .page-sidebar .nav-tabs {
	margin-bottom:0px;
	border-bottom:0px;
}
.page-map .page-sidebar .nav-tabs > li > a {
	text-align: center;
	margin-right: 0px;
	padding: 20px 15px;
	border: 0px;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
.page-map .page-sidebar .tabs-group-justified > li.active {
	position: relative;
	bottom:0px;
}
.page-map .page-sidebar .tabs-group-justified > li.active::after {
	position: absolute;
	content: "";
	left:50%;
	margin-left: -8px;
	bottom: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #1db6f0;
}
.page-map .page-sidebar .nav-tabs > li > a {
	background-color: #d2dae0;
	color: #6d7880;
}
.page-map .page-sidebar .nav-tabs > li.active > a,
.page-map .page-sidebar .nav-tabs > li.active > a:hover,
.page-map .page-sidebar .nav-tabs > li.active > a:focus {
	border:1px solid #d3d8df;
	border-bottom: 0px;
	border-top: 0px;
	background-color: #1db7f0;
	color: #fff;
}
.page-map .page-sidebar .nav-tabs > li:first-child.active > a {
	border-left: 0px;
}
.page-map .page-sidebar .nav-tabs > li:last-child.active > a {
	border-right: 0px;
}
.page-map .page-sidebar .tab-content .page-sidebar-menu > li:last-child > a,
.page-map .page-sidebar .tab-content .page-sidebar-menu > li:last-child > ul.sub-menu {
	border-bottom: 0px !important;
}
.page-map .page-sidebar .tab-content .page-sidebar-menu > li.nav-item,
.page-map .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .tab-content .page-sidebar-menu > li.nav-item {
	border-left: 0px;
	border-right: 0px;
}
.page-map .page-sidebar .page-map-list-wrapper {
	height: 100%;
    background-color:#f3f3f3;
}
.page-map .page-sidebar .page-map-list {
    height: calc(100% - 163px);
    overflow: hidden;
    overflow-y: auto;
}
.page-map .page-sidebar .page-map-list-menu {
    padding-bottom: 15px;
}
.page-map .page-sidebar .page-map-list-menu li {
    list-style-type: decimal !important;
    list-style-position:inside;
    padding:10px 15px;
    border-bottom: 1px solid #d3d8df;
    cursor: pointer;
}
.page-map .page-sidebar .page-map-list-menu li.active,
.page-map .page-sidebar .page-map-list-menu li:hover {
    background-color: #cee9ec;
    color:#008474;
}
.page-map .page-sidebar .page-map-title {
    background-color:#1bc7ce;
    width: 100%;
    padding: 12px 15px 12px 46px;
    color:#fff;
    font-weight: bold;
    background:#1bc7ce url(../../com/img/ico_map_title.png) no-repeat 10px 8px;
}

.page-map .page-sidebar .map-search-con {
	padding: 15px;
	background-color: #e5ebf0;
	border-bottom: 1px solid #d3d8df;
}
.page-map .page-sidebar .map-search-con .control-label {
	width: 40px;
}
.page-map .page-sidebar .map-search-con .form-control {
	width: 100%;
}
.page-map .page-sidebar .map-search-bottom-btn {
	text-align: center;
	padding: 10px;
}
.page-map .map-con-lg {
    font-size: 18px;
}
.page-map .map-con-md {
    font-size: 16px;
}
.page-map .map-con-sm {
    font-size: 14px;
}
.page-map .map-con-xs {
    font-size: 12px;
}
.page-map .contentsRow {
    padding-bottom: 15px;
}
.page-map ul.page-map-ul-1dep {
    padding-left: 30px;
}
.page-map ul.page-map-ul-1dep li {
    list-style-type: decimal;
    list-style-position:outside;
    padding-bottom: 5px;
}
.page-map ul.page-map-ul-2dep {
    padding-top: 5px;
    padding-left: 30px;
}
.page-map ul.page-map-ul-2dep li {
    list-style-type: disc;
    list-style-position:outside;
    padding-bottom: 5px;
}
.page-map .btn-group button img {
    margin-right:0px;
}
.page-map .btn-group .btn {
    padding:2px 8px;
}
.page-map .btn-icon-only > [class^="icon-"],
.page-map .btn-icon-only > i {
    margin-top: 0px;
}
.menu-toggler {
    opacity:10;
}
.menu-toggler.sidebar-toggler a {
    position:absolute;
    top:50%;
    z-index:3;
    display:block;
    width:30px;
    height:60px;
    background:url(../../com/img/btn_left_map.png) no-repeat;
    font-size:0;
    text-indent:-9999em;
    left:300px;
}
.menu-toggler.sidebar-toggler a.active {
    background-position:0 -60px;
    left:0px;
}
.page-map.page-footer-none .page-content-wrapper .page-content {
    min-height: calc(100vh - 70px) !important;
}
.page-map.page-footer-none .page-content .contentWrapper {
    height: calc(100vh - 70px) !important;
}
.page-map.page-footer-none .page-sidebar .tab-content .map-tab-a .left-item {
    height: calc(100vh - 188px);
}
.page-map.page-footer-none .page-sidebar .tab-content .map-tab-b .left-item {
    height: calc(100vh - 132px);
}
.page-map.page-footer-none .right-panel .panel-list {
    height: calc(100vh - 162px);
}
